/* Resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #D0E1D4;
}

/* Inicio */
.portada {
  background: url("../img/libros.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  height: 80vh;
}
.portada::after {
  content: "";
  display: block;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 36%, rgba(0, 0, 0, 0.7) 100%);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
.portada .portada__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 15vh;
  position: relative;
  z-index: 1;
}
.portada .portada__nav .nav__img {
  width: 70px;
}
.portada .portada__nav .nav__ul {
  display: flex;
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #dfd3bcf1;
}
.portada .portada__nav .nav__ul .nav__ulLi {
  margin-left: 3vw;
}
.portada .portada__heading {
  color: #fffdf8;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 10vw;
  z-index: 1;
}
.portada .portada__heading .portada__headingH1 {
  width: 60%;
  text-align: center;
  font-size: 5.5rem;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
  letter-spacing: 5px;
}
.portada .portada__heading .portada__headingH4 {
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
  font-style: italic;
}

.conocenos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: #73937Ecd;
}
.conocenos .conocenos__div {
  width: 70%;
}
.conocenos .conocenos__div .conocenos__h2 {
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin: 1.5rem;
}
.conocenos .conocenos__div .conocenos__p {
  font-size: 1rem;
  font-weight: 400;
  text-transform: normal;
  text-align: center;
}

.videoConocenos {
  height: auto;
}

.portadaCatalogo {
  background: url("../img/cartel-zoom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  height: 80vh;
}
.portadaCatalogo::after {
  content: "";
  display: block;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 36%, rgba(0, 0, 0, 0.7) 100%);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
.portadaCatalogo .portada__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 15vh;
  position: relative;
  z-index: 1;
}
.portadaCatalogo .portada__nav .nav__img {
  width: 70px;
}
.portadaCatalogo .portada__nav .nav__ul {
  display: flex;
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #dfd3bcf1;
}
.portadaCatalogo .portada__nav .nav__ul .nav__ulLi {
  margin-left: 3vw;
}
.portadaCatalogo .portada__heading {
  color: #fffdf8;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 10vw;
  z-index: 1;
}
.portadaCatalogo .portada__heading .portada__headingH1 {
  width: 60%;
  text-align: center;
  font-size: 5.5rem;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
  letter-spacing: 5px;
}
.portadaCatalogo .portada__heading .portada__headingH4 {
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
  font-style: italic;
}

.productosCatalogo__ul .productosCatalogo__ulLi {
  background: #f0eae0cb;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-flow: nowrap;
}
.productosCatalogo__ul .productosCatalogo__ulLi img {
  height: auto;
  width: 30%;
}
.productosCatalogo__ul .productosCatalogo__ulLi .product {
  display: block;
  width: 70%;
}
.productosCatalogo__ul .productosCatalogo__ulLi .product .productTitle {
  font-size: 2rem;
}

.footerDesktop {
  height: 70vh;
  background: #dfd3bcf1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerDesktop .footerDesktop__img {
  width: 80px;
}