.portadaCatalogo {
  @extend .portada;
  background: $color-ddl;
  height: 15vh;

  .portada__nav {
    .nav__ul {
      color: $color-oscuro;
    }
  }

  &::after {
    display: none;
  }
}

.productosCatalogo {
  background: #f0eae0cb;
  @include flex(flex, wrap, center, center);

  .productosCatalogo__ul {

    .productosCatalogo__ulLi {
      @include flex(flex, nowrap, center, center);
      width: 100%;
      max-height: 400px;

      .productImage {
        max-width: 200px;
        margin: 50px;
        border: 1px solid black;
      }

      .product {
        width: 50%;
        display: grid;
        margin: 50px 0;
        grid-template-columns: 1fr;
        // grid-template-rows: 10vh 5vh 5vh 15vh 8vh 5vh;
        color: $color-oscuro;
        
        .productTitle {
          grid-area: 1/1/2/2;
          align-self: flex-end;
          @include font(1.5rem, bold, none);
        }
        
        .productAuthor {
          @include font(1.2rem, lighter, none);
          grid-area: 2/1/3/2;
          align-self: flex-end;
        }

        .productEditorial {
          @extend .productAuthor;
          grid-area: 3/1/4/2;
          align-self: flex-start;
        }

        .productDescription {
          grid-area: 4/1/5/2;
          padding: 5px 0;
        }

        .productPrice {
          grid-area: 5/1/6/2;
          align-self: center;
          justify-self: flex-start;
          @include font(1.5rem, bold, uppercase);
        }

        .productButton {
          grid-area: 6/1/7/2;
          width: 200px;
          height: 50px;
          align-self: center;
          justify-self: flex-end;
          background: $color-verde;
          border-radius: 5%;
          border: none;
          color: $color-oscuro;
          @include font(1rem, bold, none);
        }
      }
    }
  }
}


.selectedProducts-container {
  @include flex(none, column, center, center);
  width: 100%;
  min-height: 600px;
  background: #73937ef3;
  padding: 40px 0;

  .selectedProductsCart {
    width: 100px;
  }
  
  .selectedProductsTitle {
    margin: 20px 0 10px 0;
    @include font(2.2rem, bold, none);
    display: inline-block;
  }

  .selectedProductsTotalPrice {
    margin-bottom: 50px;
    @include font(1.8rem, bold, none);
    display: inline-block;
  }

  .selectedProducts {
  @include flex(flex, column, center, center);
  width: 100%;
  color: $color-oscuro;
  list-style: none;
    

    .selectedProductsLi {
      width: 70%;
      margin: 15px 0;
      @include flex(flex, row, flex-start, center);
      
      .selectedProductsLi__img {
        min-width: 100px;
        max-width: 10%;
        border: 1px solid black;
        margin: 0 40px;
      }
      
      .selectedProduct {
        width: 70%;
        @include flex(flex, column, center, flex-start);
        
        .selectedProductTitle {
          @include font(1.5rem, bold, none);
        }
        
        .selectedProductInfo {
          @include font(1.2rem, normal, none);
        }
        
        .selectedProductPrice {
          @include font(1.5rem, bold, none);
        }
      }
    }

    .selectedProductInfo {
      .selectedProductDelete {
        width: 45px;
      }
    }
  }
}