.portadaCatalogo {
  @extend .portada;
  background: $color-ddl;
  height: 15vh;

  .portada__nav {
    .nav__ul {
      color: $color-oscuro;

      .nav__ulLi a:hover {
        color: rgb(65, 65, 65);
      }
    }

    .cartOpener {
      cursor: pointer;
    }
  }

  &::after {
    display: none;
  }
}

.productosCatalogo {
  background: #f0eae0cb;
  @include flex(flex, wrap, center, center);

  .fieldset{
    width: 80%;
    max-width: 600px;
    margin-top: 50px;
    padding: 20px 10px;
    border: none;
    display: flex;
    justify-content: center;

    .searchBar {
      padding: 5px 10px;
      width: 80%;
      border-radius: 5px;
      border-bottom: 3px solid rgba(75, 75, 75, 0.856);
      @include font(1rem, normal, none);
    }

    .searchButton {
      padding: 5px 8px;
      margin-left: 10px;
      border-radius: 40%;
      color: $color-oscuro;
      @include font(0.8rem, bold, uppercase);
    }
  }

  .productosCatalogo__ul {
    padding: 40px 0;
    .productosCatalogo__ulLi {
      @include flex(flex, nowrap, center, center);
      width: 100%;
      // max-height: 400px;
      padding: 20px;

      .productImage {
        max-width: 200px;
        margin: 0 50px;
        border: 1px solid black;
      }

      .product {
        width: 50%;
        display: grid;
        grid-template-columns: 1fr;
        // grid-template-rows: 10vh 5vh 5vh 15vh 8vh 5vh;
        color: $color-oscuro;
        
        .productTitle {
          grid-area: 1/1/2/2;
          align-self: flex-end;
          @include font(1.5rem, bold, none);
        }
        
        .productAuthor {
          @include font(1.2rem, lighter, none);
          grid-area: 2/1/3/2;
          align-self: flex-end;
        }

        .productEditorial {
          @extend .productAuthor;
          grid-area: 3/1/4/2;
          align-self: flex-start;
        }

        .productDescription {
          grid-area: 4/1/5/2;
          padding: 5px 0;
        }

        .productPrice {
          grid-area: 5/1/6/2;
          align-self: center;
          justify-self: flex-start;
          @include font(1.5rem, bold, uppercase);
        }

        .productButton {
          grid-area: 6/1/7/2;
          width: 200px;
          height: 50px;
          align-self: center;
          justify-self: flex-end;
          background: $color-verde;
          border-radius: 5%;
          border: none;
          color: $color-oscuro;
          @include font(1rem, bold, none);
          cursor: pointer;
          transition: all, 1s;

          &:hover {
            background: #889c8fcd;
            transform: scale(1.05);
            // width: 220px;
            // height: 70px;
          }
        }
      }
    }
  }
}


.selectedProducts-container {
  @include flex(none, column, center, center);
  width: 100%;
  min-height: 600px;
  background: #73937ef3;
  padding: 20px 0;

  .selectedProductsCart {
    width: 100px;
  }
  
  .selectedProductsTitle {
    margin: 20px 0 10px 0;
    @include font(2.2rem, bold, none);
    display: inline-block;
  }

  .selectedProductsTotalPrice {
    margin-bottom: 50px;
    @include font(1.8rem, bold, none);
    display: inline-block;
  }

  .selectedProducts {
  @include flex(flex, column, center, center);
  width: 100%;
  color: $color-oscuro;
  list-style: none;
    

    .selectedProductsLi {
      width: 70%;
      margin: 15px 0;
      padding: 15px;
      background: $color-ddl;
      border-radius: 5px;
      @include flex(flex, row, flex-start, center);
      
      .selectedProductsLi__img {
        min-width: 80px;
        max-width: 10%;
        border: 1px solid black;
        margin: 0 20px;
      }
      
      .selectedProduct {
        width: 70%;
        @include flex(flex, column, center, flex-start);
        
        .selectedProductTitle {
          @include font(1.2rem, bold, none);
        }
        
        .selectedProductInfo {
          @include font(1rem, normal, none);
        }
        
        .selectedProductPrice {
          @include font(1.2rem, bold, none);
        }
      }

      .selectedProductInfo {
        @include flex(flex, row, center, center);

        .selectedProductCounter {
          @include flex(flex, normal, center, center);
  
          .counterInput {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              @include font(1rem, bold, uppercase);
              text-align: center;
              color: $color-oscuro;
              border: 0;
              appearance: none;
              outline: 0;
          }

          .counterSpan {
              display: block;
              font-size: 25px;
              padding: 0 10px;
              color: $color-oscuro;
              cursor: pointer;
              user-select: none;
          }
        }

        .selectedProductDelete {
          width: 45px;
        }
      }
    }
  }
}