// COPIA DE LAS CLASES ASIGNADAS AL INDEX.HTML CON LA MODIFICACION DE LA IMAGEN DE FONDO

.portadaCatalogo {
  background: url('../img/cartel-zoom.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  height: 80vh;
  
  &::after {
    content: "";
    display: block;
    background: $color-oscuro;
    opacity: 16%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
  }
  
  .portada__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    position: relative;
    z-index: 1;

    .nav__img {
      width: 70px;
    }
    
    .nav__ul {
      display: flex;
      list-style-type: none;
      font-size: 1.2rem;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $color-ddl;
    
      .nav__ulLi {
        margin-left: 3vw;
      }
    }
  }

  .portada__heading {
    color: #fffdf8;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10vw;
    z-index: 1;
    
    .portada__headingH1 {
      width: 60%;
      text-align: center;
      @include font(5.5rem, 800, uppercase);
      font-family: 'Anton', sans-serif;
      letter-spacing: 5px;
    }

    .portada__headingH4 {
      @include font(1.2rem, 800, uppercase);
      font-style: italic;
    }
  }
}

.productosCatalogo__ul {

  .productosCatalogo__ulLi {
    background: #f0eae0cb;
    width: 100%;
    @include flex(flex, nowrap, center, center);

    .productImage {
      max-width: 300px;
      margin: 50px;
    }

    .product {
      width: 50%;
      display: grid;
      margin: 50px 0;
      grid-template-columns: 1fr;
      // grid-template-rows: 10vh 5vh 5vh 15vh 8vh 5vh;
      color: $color-oscuro;
      
      .productTitle {
        font-size: 2.2rem;
        grid-area: 1/1/2/2;
        align-self: flex-end;
        @include font(2rem, bold, none);
      }
      
      .productAuthor {
        grid-area: 2/1/3/2;
        align-self: center;
        @include font(1.2rem, lighter, none);
      }

      .productEditorial {
        @extend .productAuthor;
        grid-area: 3/1/4/2;
      }

      .productDescription {
        grid-area: 4/1/5/2;
        padding: 5px 0;
      }

      .productPrice {
        grid-area: 5/1/6/2;
        align-self: center;
        justify-self: flex-start;
        @include font(1.5rem, bold, uppercase);
      }

      .productButton {
        grid-area: 6/1/7/2;
        width: 200px;
        height: 50px;
        align-self: center;
        justify-self: flex-end;
        background: $color-verde;
        border-radius: 5%;
        border: none;
        color: $color-oscuro;
        @include font(1rem, bold, none);
      }
    }
  }
}