/* Inicio */
.portada {
  background: url('../img/libros.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  height: 80vh;
  
  &::after {
    content: "";
    display: block;
    background: radial-gradient(circle, rgba(255,255,255,0) 36%, rgba(0,0,0,0.7) 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
  }
  
  .portada__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    position: relative;
    z-index: 1;

    .nav__img {
      width: 70px;
    }
    
    .nav__ul {
      display: flex;
      list-style-type: none;
      font-size: 1.2rem;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $color-ddl;
    
      .nav__ulLi {
        margin-left: 3vw;
      }
    }
  }

  .portada__heading {
    color: #fffdf8;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10vw;
    z-index: 1;
    
    .portada__headingH1 {
      width: 60%;
      text-align: center;
      @include font(5.5rem, 800, uppercase);
      font-family: 'Anton', sans-serif;
      letter-spacing: 5px;
    }

    .portada__headingH4 {
      @include font(1.2rem, 800, uppercase);
      font-style: italic;
    }
  }
}












.conocenos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: $color-verde;

  .conocenos__div {
    width: 70%;
    .conocenos__h2 {
      @include font($h2-font, $h2-font-weight, uppercase);
      text-align: center;
      margin: $h2-margin-bottom;
    }
    
    .conocenos__p {
      @include font($regular-font, $regular-font-weight, normal);
      text-align: center;
    }
  }
}

.videoConocenos {
  height: auto;
}