// Variables
$h2-font: 3rem;
$h2-font-weight: 800;
$h2-font-mobile: 1.9rem;
$h2-margin-bottom: 1.5rem;
$regular-font: 1rem;
$regular-font-weight: 400;
$color-oscuro: #1a1a1a;
$color-claro: #fffdf8;
$color-ddl: #dfd3bcf1;
$color-verde: #73937Ecd; //para footer
$color-gris-oscuro: #272623ec;
$box-shadow: -5px 5px 20px rgba(0, 0, 0, .8);